@import url('https://db.onlinewebfonts.com/c/1c1b3fdb31c3460a94aa5f52255b0388?family=Pokemon+Fire+Red+Regular');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 100vh;
    font-family: "Pokemon Fire Red Regular";
    background-color: black;
    position: relative;
}

h1{
    color: white;
    margin-top: 20px;
    margin-bottom: 32px;
    font-size: 80px;
}

.music-control{
    width: 50px;
    cursor: pointer;
    position: absolute;
    top: 48px;
    right: 48px;
}
.scoreboard {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    top: 250px;
    left: 50px;
}

.score-item {
    display: flex;
    align-items: center;
}

.character-scoreboard,
.character-scoreboard-tortos {
    width: 100px;
}

.character-scoreboard-tortos {
    width: 120px;
    margin-left: -30px;
}

.cross-scoreboard {
    width: 40px;
    margin-left: 10px;
}

p {
    color: white;
    text-align: center;
    right: inherit;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 20px;
    max-width: 200px;
    margin-left: -10%;
}


#reset{
    display: none;

    width: 100px;
    height: 100px;

    cursor: pointer;
    position: absolute;
    z-index: 3;
}

#reset:hover{
    opacity: 0.8;
    transform: scale(1.05);
}

.game{
    background-image: url("../assets/scene.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 1280px;
    height: 720px;

    position: relative;
}

.character{
    position: absolute;
    width: 75px;
}

#ash{
    right: 2px;
    z-index: 1;
}

#zubat{
    display: none;
    width: 100px;
    right: 90px;
    top: 550px;
}

#pikachu{
    display: none;
    width: 70px;
    right: 600px;
    top: 430px;
}

#charmander{
    display: none;
    width: 90px;
    right: 350px;
    top: 150px;
}
