* {
    box-sizing: border-box;
    font-family: "Pokemon Fire Red Regular", sans-serif;
  }
  body {
    margin: 0;
    padding: 0;
    background-color: #66ccff; /* azul do céu de fundo */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .container {
    position: relative;
    width: fit-content;
  }

  #bg {
    width: 100%;
    height: inherit;
    display: block;
  }

  .btn {
      position: absolute;
      padding: 25px 40px;
      font-size: 40px;
      font-weight: bold;
      background-color: #fdf1c7;
      border: 4px solid #000;
      box-shadow: 4px 4px #444;
      cursor: pointer;
    }

    #btn-jogar {
      bottom: 100px;
      left: 33%;
    }

    #btn-como-jogar {
      bottom: 100px;
      right: 33%;
    }

    .btn:hover {
      background-color: #ffcb05;
      transform: translateY(-4px);
    }


    .back{
        position: absolute;
        top: 20px;
        left: 20px;
        width: 50px;
        height: 50px;
        padding: 0;
        background-color: #fdf6e3;
        border: 4px solid #fdf6e3;
        cursor: pointer;
    }

    h2{
        margin: 0;
        margin-bottom: 40px;
        font-size: 30px;
        top: 0;
    }

    .dificuldade{
      position: absolute;
      text-align: center;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -30%);
      background-color: #fdf6e3;
      border: 3px solid #3b4cca;
      padding: 30px;
      border-radius: 16px;
      box-shadow: 0 0 20px #3b4cca;
      z-index: 999;
      width: 400px;
      font-family: "Pokemon Fire Red Regular";
  }

  .btn-dificuldade {
      font-family: "Pokemon Fire Red Regular";
      font-size: 20px;
      background-color: #ffcb05;
      border: 2px solid #3b4cca;
      color: #3b4cca;
      padding: 10px 20px;
      justify-content: center;
      align-items: center;
      text-align: center;
      border-radius: 10px;
      margin: 10px;
      cursor: pointer;
      transition: transform 0.2s, background-color 0.2s;
  }

  .btn-dificuldade:hover {
      background-color: #3b4cca;
      color: #fff;
      transform: translateY(-4px);
  }

  .como-jogar{
    position: absolute;
    text-align: center;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -30%);
    background-color: #fdf6e3;
    border: 3px solid #3b4cca;
    padding: 30px;
    border-radius: 16px;
    box-shadow: 0 0 20px #3b4cca;
    z-index: 999;
    width: 400px;
    font-family: "Pokemon Fire Red Regular";
  }

  .como-jogar p{
        font-size: 20px;
        color: #333;
        margin-bottom: 20px;
  }